<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All users</title>
    <style>
      table,
      th,
      td {
        border: 1px solid black;
      }
      h2 {
        color: red;
      }
    </style>
  </head>
  <body>
    <div class="add">
      <h2>Not in the List? <br> Add yourself in!!</h2>
      <form method="get" action="/user/add">
        <button>Add User</button>
      </form>

    </div>
    <br><br>
    <table>
      <tr>
        <th>Id</th>
        <th>Email</th>
        <th>Username</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
      <% for(user of result) { %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.username %></td>
        <td>
          <form method="get" action="/user/<%=user.id%>/edit">
            <button>Edit username</button>
          </form>
        </td>
        <td>
          <form method="get" action="/user/<%=user.id%>/delete">
            <button>Delete user</button>
          </form>
        </td>
      </tr>
      <% } %>
    </table>
  </body>
</html>
